* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    background: linear-gradient(rgba(0, 225, 255, 0.363), rgba(168, 249, 255, 0.541), rgb(224, 253, 255));;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    background-color: rgba(0, 205, 219, 0.8);
    height: 60px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

header ul {
    margin: 20px;
    height: 100%;
}

ul li {
    height: 100%;
    display: flex;
    align-items: center;
    list-style-type: none;
}

li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
}

main {
    background-color: rgb(230, 230, 230);
    display: flex;
    height: 750px;
    width: 1600px;
}

#lista {
    background-color: rgb(252, 252, 252);
    width: 30%;
    height: 100%;
    padding: 20px;
}

#lista h1 {
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    margin: 15px 0 15px 0;
}

#lista p {
    font-size: 24px;
    margin: 15px;
}

#user-container {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

#div-chat {
    display: flex;
    flex-direction: column;
}

#div-foto-perfil {
    display: flex;
    gap: 20px;
    margin: 20px 0 20px 20px;
}

#user-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#user-image-chat {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}

#user-initial-image {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005b6b;
    color: #fff;
    font-size: 20px;
}

#user-initial-image-chat {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005b6b;
    color: #fff;
    font-size: 20px;
}

#div-foto-perfil p{
    margin-top: 20px;
    font-size: 30px;
}

#borda {
    width: 120px;
    height: 120px;
    border: 7px solid; 
    border-image: linear-gradient(to bottom, #9ce99c, #00c000) 1;
    justify-content: center;
    align-items: center;
  }
  
  #borda img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 80px; 
    display: flex;
  }

#mensagens {
    height: 500px;
    width: 1050px;
    border: transparent;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    margin: 0 0 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
}

#main-div {
    background-color: #0abcc977;
    border: transparent;
    border-radius: 15px;
    margin: 12px;
    padding: 12px;
    width: 650px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
}


.styleMessage {
    /* background-color: #0abcc977;
    border: transparent;
    border-radius: 15px;
    margin: 12px;
    padding: 12px;
    width: 400px; */
    font-size: 20px;
    width: 450px;
    overflow-x: auto;
    /* display: flex;
    align-items: center;
    justify-content: space-between */
}

#first-letter {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #005b6b;
    color: #fff;
    font-size: 20px;
}

#user-name-message {
    width: 50px;
}

#message-date {
    width: 50px;
}

#image-message {
    height: 50px;
    width: 50px;
    border: transparent;
    border-radius: 50%;
}

  #input-mensagem-botao {
    display: flex;
  }

  #input-mensagem {
    width: 980px;
    height: 55px;
    border: transparent;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    margin: 0 0 10px 20px;
    padding: 12px;
    font-size: 20px;
}

#botao-enviar-mensagem {
    height: 55px;
    width: 70px;
    text-align: center;
    border: transparent;
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
    background-color: rgba(0, 205, 219, 0.8);
    margin-bottom: 8px;
    font-size: 18px;
    cursor: pointer;
}